<div class="jumbotron">
    <h1>Система Удаленное Обучение</h1>
</div>


<div class="row">
    <div class="col-md-6">
        <h2>Лекционные материалы</h2>
        @foreach (var a in ViewBag.Artilces)
        {
            <h4>@a.name</h4>
            <p><a href="Article/@a.id">Перейти к просмотру</a></p>
        }

    </div>
    <div class="col-md-6">
        <h2>Тестовые задания</h2>
        @foreach (var t in ViewBag.Tests)
        {
            <h4>@t.name</h4>
            <p><a href="Test/@t.id">Перейти к выполнению</a></p>
        }
    </div>
</div>